@{
    ViewData["Title"] = "User List";
}

@model IList<LMS.Models.User>

<form id="antiForgeryForm">
    @Html.AntiForgeryToken()
</form>

<div class="container-fluid mt-4 px-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 class="mb-0">      <i class="bi bi-people-fill me-1 text-primary"></i> User List</h5>

        <div class="d-flex align-items-center gap-2">
            <button type="button"
                    class="btn btn-outline-success btn-sm"
                    id="excelDownload"
                    data-grid="userGrid"
                    data-file="UserList"
                    title="Excel Download">
                <i class="bi bi-file-earmark-excel me-1"></i>
                Excel
            </button>

           
            <a asp-action="AddUser"
               asp-controller="User"
               class="btn btn-primary btn-sm">
                Add User
            </a>
        </div>
    </div>

    <table id="userGrid"></table>
    <div id="userPager"></div>
</div>

@section Scripts {
    <script src="@Url.Content("~/js/userList.min.js")" asp-append-version="true"></script>

}
