@model ForgotPasswordViewModel

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-4">

            <div class="card shadow-sm">
                <div class="card-body">

                    <h5 class="text-center mb-4">Forgot Password</h5>

                    <form asp-action="ForgotPassword" method="post" new { autocomplete="off" }>

                        <div class="mb-3">
                            <label class="form-label">
                                Email <span class="text-danger">*</span>
                            </label>
                            <input asp-for="Email" class="form-control" />
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger small" })
                        </div>

                        <button type="submit" class="btn btn-primary w-100">
                            Send Reset Link
                        </button>

                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
